<div class="caja">
  <div class="titulo">
      <div class="sec-title">
        <h2 class="namebig">{{ task.nombre }}</h2>
        <h2>{{ task.apellido }}</h2>
   
        <div class="botones">
            <button (click)="task.hide = !task.hide" class="ver">
              Ver
            </button>
            <button (click)="deleteTask(task)" class="eliminar">
                Eliminar
            </button>
        </div>
      </div>
  </div>
  <div class="cuerpo card" [hidden]="task.hide">
      <div class="contenido">
        <p>
          <b>Nombre: </b> {{task.nombre}} {{task.apellido}} <br>
          <b>Correo: </b> {{task.email}} <br>
          <b>Celular: </b> {{task.celular}} <br>
          <b>Fecha: </b>  {{task.fecha}} <br>
          <b>Hora: </b> {{task.hora}} <br></p>
            <b>Descripción: </b> {{task.description}}
      </div>
  </div>
</div>