textarea {
  resize: none;
}

.boton{
  margin-top: 15px;
  color: rgb(255, 255, 0);
  background-color: black;
  width: 80%;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  
}

.boton:hover{
  color: black;
  background-color: rgba(238, 255, 0, 0.82);
  border: 1px solid green;
}

.card{
  background-image: linear-gradient(rgba(255, 255, 255, 0.589),rgba(255, 251, 0, 0.589)), url('http://cerebrolab.net/wp-content/uploads/2021/03/formulario.png');
  background-repeat:no-repeat;
  background-position: center; 
  background-size: cover;
}

.form-group{
  margin-top: 10px;
  color: black;
}

.form-control{
  background-color: transparent;
}

.form-label{
  display: flex;
  justify-content: left;
  font-weight: bold;
}